<div class="header-container">
    <div class="logo-section">
        <img src="../../../assets/images/logo-img.jpg" alt="Logo" class="logo">
        <h1 class="site-name">Friends</h1>
    </div>

    <div class="search-bar">
        <img src = "../../../assets/images/search-icon.png" class="search-icon">
        <input type="text" name="searchBar" id="searchBar" placeholder="Search for friends, groups, pages">
    </div>

    <div class="dropdown">
        <button (click)="toggleDropdown()">
        <fa-icon class="dropdown-icon" [icon]="faAdd"></fa-icon>
        </button>
        <div class="dropdown-menu" [ngClass]="{'show': isDropdownOpen}">
            <h4>Suggested for you</h4>
            <app-friend-details *ngFor="let author of authors" [friend]="author">
                <p (click)="addFriend(author.id)"> + Follow</p>
            </app-friend-details>
            
        </div>
      </div>

      <fa-icon class="dropdown-icon" (click)="logOut()" [icon]="faSignOut"></fa-icon>

      <a [routerLink]="['/user', author.id]"><app-avatar [img]="imageUrl"></app-avatar></a>
</div>