.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    background-color: #ffffff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-bottom: 10px;
}

.logo-section {
    display: flex;
    align-items: center;
}

.logo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
}

.site-name {
    font-size: 24px;
    color: #D2B48C;
    font-weight: bold;
}

.search-bar{
    display: flex;
    align-items: center;
    background-color: #f1f3f6;
    border-radius: 50px;
    padding: 8px 15px;
    width: 60%;
}

.search-bar input {
    outline: none;
    border: none;
    background: #f4f4f4;
    padding: 8px 12px;
    border-radius: 16px;
    width: 100%;
}

.search-icon{
    width: 25px;
    height: 25px;
    border-radius: 40%;

}