.user-profile-container {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .user-profile-header {
    display: flex;
    align-items: center;
  }
  
  .profile-picture {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
  }
  
  .author-details {
    flex-grow: 1;
  }
  
  .author-details h2 {
    margin: 0;
    font-size: 24px;
  }
  
  .author-details .bio {
    margin-top: 5px;
    font-size: 16px;
    color: #555;
  }
  
  .user-profile-body {
    margin-top: 20px;
  }
  
  .user-profile-body h3 {
    margin-bottom: 10px;
  }
  
  .user-profile-body p {
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
  }
  

.edit-profile-container {
  padding: 30px;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 20px auto;
}

.edit-profile-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.edit-button{
  padding: 5px 10px;
  margin-top:5px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.form-group label {
  font-weight: bold;
  margin-bottom: 5px;
}

.input-field, .textarea-field {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s;
}

.input-field:focus, .textarea-field:focus {
  border-color: #007bff;
  outline: none;
}

.textarea-field {
  height: 100px;
  resize: vertical;
}

.save-button {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.save-button:hover {
  background-color: #0056b3;
}
