<div class="user-profile-container">
    <div class="user-profile-header">
      <img class="profile-picture" [src]="getProfilePicture()" alt="Profile Picture">
      <div class="author-details">
        <h2>{{ author?.userName }}</h2>
        <p class="bio">{{ author?.bio || 'No bio available' }}</p>
        <button class ="edit-button" (click)="isEditingProfile = !isEditingProfile">
          {{ isEditingProfile ? 'Cancel' : 'Edit Profile' }}
        </button>
      </div>
    </div>
  
    <div class="user-profile-body">
      <h3>Personal Information</h3>
      <p><strong>Email:</strong> {{ author?.email || 'Not provided' }}</p>
      <p><strong>Joined:</strong> {{ author?.createdAt | date:'longDate' }}</p>
  
      <div *ngIf="isEditingProfile" class="edit-profile-container">
        <form (ngSubmit)="updateProfile()" class="edit-profile-form">
          <div class="form-group">
            <label for="username">Username:</label>
            <input [(ngModel)]="editingAuthor.userName" name="username" required id="username" class="input-field">
          </div>
          <div class="form-group">
            <label for="bio">Bio:</label>
            <textarea [(ngModel)]="editingAuthor.bio" name="bio" id="bio" class="textarea-field"></textarea>
          </div>
          <button type="submit" class="save-button">Save</button>
        </form>
      </div>
            <h3>Recent Posts</h3>
      <ng-container *ngIf="author">
        <app-post
          *ngFor="let post of filteredPosts"
          [post]="post"
          [loggedAuthor] = "loggedAuthor"
          (postDeleted)="handlePostDeleted($event)"
          (postUpdated)="handlePostUpdated($event)"
          (newComment)="addCommentToPost($event, post.id)"
        ></app-post>
      </ng-container>
    </div>
  </div>
  