<app-header *ngIf="author" [author]="author" ></app-header>

<div class="container">

  <div *ngIf="errorMessage">
    <p>Error: {{ errorMessage }}</p>
  </div>
  
  <div class="vertical-container">
    <div *ngIf="errorMessage">
      <p>Error: {{ errorMessage }}</p>
    </div>

  <app-new-post *ngIf="author" [author]="author" (postAdded)="handlePostAdded($event)"></app-new-post>

  <div class="posts-container">
    <ng-container *ngIf="author">
      <app-post
        *ngFor="let post of posts"
        [author]="author"
        [post]="post"
        (postDeleted)="handlePostDeleted($event)"
        (postUpdated)="handlePostUpdated($event)"
        (newComment)="addCommentToPost($event, post.id)"
      ></app-post>
    </ng-container>
  </div>
  

</div>

<app-side-nav *ngIf="author" [author]="author"></app-side-nav>

</div>


