.posts-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.vertical-container{
    width:80%;
    margin-right: 0;
}

.container{
    display: flex;
    justify-content: space-between;
}

.nav-container{
    padding: 0;
    margin-left: -300px;
}