
<div class="container">

  <div *ngIf="errorMessage">
    <p>Error: {{ errorMessage }}</p>
  </div>
  
  <div class="vertical-container">
    <div *ngIf="errorMessage">
      <p>Error: {{ errorMessage }}</p>
    </div>
  <app-header *ngIf="author" [author]="author" ></app-header>

  <app-new-post *ngIf="author" [author]="author" (postAdded)="handlePostAdded($event)"></app-new-post>

  <div class = "posts-container">
    <app-post
      *ngFor="let post of posts"
      [post]="post"
      (postDeleted)="handlePostDeleted($event)"
      (postUpdated)="handlePostUpdated($event)"
    ></app-post>

  </div>

</div>

<app-side-nav *ngIf="author" [author]="author"></app-side-nav>

</div>


