<div class="post-container">
  <div class="post-heading">
    <div class="author-details">
      <app-avatar [img]="postAuthor?.profile_picture || ''"></app-avatar>
      <div>
        <h4 class="author-name">{{ postAuthor?.username }}</h4>
        <p class="time">{{ postTime}}</p>
      </div>
    </div>
  
    <div class="dropdown">
      <button (click)="toggleDropdown()">
        <fa-icon [icon]="faEllipsis"></fa-icon>
      </button>
      <div class="dropdown-menu" [ngClass]="{'show': isDropdownOpen}">
        <button (click)="handleEdit()">Edit</button>
        <button (click)="handleDelete()">Delete</button>
      </div>
    </div>
    
  </div>
    
  <div class="post-body">
    <p *ngIf="!isEditing">{{ post.content }}</p>
    <textarea id="content" [(ngModel)]="post.content" name="content" *ngIf="isEditing"></textarea>
    <button class="save-button" *ngIf="isEditing" (click)="savePost()">Save</button>
    <button class="cancel-button" *ngIf="isEditing" (click)="cancelEditing()">Cancel</button>

    <div class="likes-comments-container">
      <p *ngIf="post.likes.length > 0">{{post.likes.length}} likes</p>
      <p *ngIf="post.comments.length > 0">{{post.comments.length}} comments</p>
    </div>
  </div>

  <div class="comments-container">
    <div class="input-container">
      <app-avatar [size]="'40px'" [img]="loggedAuthor.profile_picture"></app-avatar>
      <input type="text" name="comment" id="comment" [(ngModel)]="comment" placeholder="Write your comment" (keydown.enter)="addComment()">
      <button (click)="addComment()">Submit</button>
    </div>

    <div *ngFor="let comment of post.comments" class="comment">
      <div *ngIf="editingCommentId === comment.id; else viewMode">
        <div class="author-comment-details">
          <app-avatar [size]="'30px'" [img]="getCommentAuthorProfilePicture(comment.UserId)"></app-avatar>
          <input [(ngModel)]="comment.content" (keydown.enter)="saveCommentEdit(comment)" />
        </div>
        <div class="comment-actions">
          <button (click)="saveCommentEdit(comment)">Save</button>
          <button (click)="cancelCommentEdit(comment)">Cancel</button>
        </div>
      </div>

      <ng-template #viewMode>
        <div class="comment-body">
          <div class="author-comment-details">
            <app-avatar [size]="'30px'" [img]="getCommentAuthorProfilePicture(comment.UserId)"></app-avatar>
            <div>
              <h4><strong>{{ getCommentAuthorName(comment.UserId) }}</strong></h4>
            </div>
          </div>
          <p>{{ comment.content }}</p>
        </div>

        <div class="comment-actions">
          <button (click)="startEditComment(comment)">Edit</button>
          <button (click)="confirmDeleteComment(comment)">Delete</button>
        </div>
      </ng-template>

      <div *ngIf="deletingCommentId === comment.id">
        <p>Are you sure you want to delete this comment?</p>
        <div class="comment-actions">
          <button (click)="deleteComment(comment)">Yes</button>
          <button (click)="cancelDeleteComment()">No</button>
        </div>
      </div>
    </div>
  </div>
</div>
